<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_a_normal@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,55},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>button_a_selected@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>button_b_normal@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>button_b_selected@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:491378c6ce682d2b2377783b9db87f78$</string>
            <key>textureFileName</key>
            <string>button.pvr.ccz</string>
        </dict>
    </dict>
</plist>
