<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,162},{50,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,40},{50,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,64},{54,74}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,40},{54,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{54,74}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,40},{54,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,52},{54,74}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,40},{54,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,120},{52,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,40},{52,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,260},{50,72}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,42},{50,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,312},{46,72}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,43},{46,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,220},{38,74}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,41},{38,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{52,74}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,40},{52,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,310},{48,72}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,43},{48,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{46,72}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,43},{46,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{42,74}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,41},{42,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{60,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,40},{60,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{50,72}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,43},{50,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,108},{52,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,41},{52,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,78}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,37},{44,78}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{46,74}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,41},{46,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{48,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,39},{48,76}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,214},{42,74}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,41},{42,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{38,76}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,39},{38,76}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,174},{44,74}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,41},{44,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,258},{50,72}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,43},{50,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pd_sprites.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9ed5fb1455cbed1b248c22503f09453$</string>
            <key>textureFileName</key>
            <string>pd_sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
