<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_attack_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{48,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,38},{48,76}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,162},{78,74}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,40},{78,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,316},{72,74}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,40},{72,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,166},{48,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,36},{48,78}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,90},{88,74}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,40},{88,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,208},{86,72}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,42},{86,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,358},{62,74}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,40},{62,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,238},{68,76}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,38},{68,76}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{108,70}}</string>
                <key>offset</key>
                <string>{29,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,44},{108,70}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,74},{102,68}}</string>
                <key>offset</key>
                <string>{27,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,46},{102,68}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,260},{56,74}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,40},{56,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,282},{36,38}}</string>
                <key>offset</key>
                <string>{-42,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{36,38}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,260},{36,34}}</string>
                <key>offset</key>
                <string>{-43,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,80},{36,34}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{36,82}}</string>
                <key>offset</key>
                <string>{-38,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,32},{36,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{64,46}}</string>
                <key>offset</key>
                <string>{-11,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,15},{64,46}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,538},{48,60}}</string>
                <key>offset</key>
                <string>{-4,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,7},{48,60}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,108},{52,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,32},{52,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{56,78}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,36},{56,78}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,262},{52,76}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,38},{52,76}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,206},{52,76}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,38},{52,76}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,392},{50,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,40},{50,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,318},{54,74}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,40},{54,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,318},{54,74}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,40},{54,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,282},{54,74}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,40},{54,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,374},{52,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,40},{52,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,496},{50,72}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,42},{50,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,170},{36,88}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,26},{36,88}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,172},{40,66}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,48},{40,66}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,548},{44,66}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,48},{44,66}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{48,60}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,54},{48,60}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{52,82}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,32},{52,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,530},{58,66}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,48},{58,66}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,472},{56,72}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,42},{56,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,474},{52,68}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,43},{52,68}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,104}}</string>
                <key>offset</key>
                <string>{45,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,33},{172,104}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{122,86}}</string>
                <key>offset</key>
                <string>{18,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,54},{122,86}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,100}}</string>
                <key>offset</key>
                <string>{30,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,42},{100,100}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,544},{58,70}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,45},{58,70}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{52,76}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,39},{52,76}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,516},{60,56}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,49},{60,56}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,90},{80,20}}</string>
                <key>offset</key>
                <string>{-35,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,97},{80,20}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,144},{82,18}}</string>
                <key>offset</key>
                <string>{-35,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,100},{82,18}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,468},{46,72}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,43},{46,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,438},{38,74}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,41},{38,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,374},{52,74}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,40},{52,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,338},{48,72}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,43},{48,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{46,72}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,43},{46,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,428},{42,74}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,41},{42,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{60,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,40},{60,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,486},{50,72}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,43},{50,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,538},{52,66}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,41},{52,66}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,428},{56,72}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,37},{56,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,104},{90,64}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,38},{90,64}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,144},{88,60}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,40},{88,60}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,412},{48,60}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,48},{48,60}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,478},{58,66}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,49},{58,66}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,338},{52,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,41},{52,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,216},{44,78}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,37},{44,78}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,390},{46,74}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,41},{46,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,308},{48,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,39},{48,76}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{42,74}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,41},{42,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,240},{38,76}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,39},{38,76}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,422},{44,74}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,41},{44,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,444},{50,72}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,43},{50,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pd_sprites.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:893c5c51d683b14f6b1f3c5b644840a9$</string>
            <key>textureFileName</key>
            <string>pd_sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
