<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_attack_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,86},{48,82}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,32},{48,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,170},{78,80}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,34},{78,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,176},{72,82}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,32},{72,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,126},{48,84}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,30},{48,84}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,94},{88,80}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,34},{88,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{86,80}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,34},{86,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,186},{62,82}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,32},{62,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,182},{68,82}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,32},{68,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{108,76}}</string>
                <key>offset</key>
                <string>{29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,38},{108,76}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,176},{102,76}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,38},{102,76}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{56,80}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,34},{56,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{36,38}}</string>
                <key>offset</key>
                <string>{-42,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,76},{36,38}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,40},{36,34}}</string>
                <key>offset</key>
                <string>{-42,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,80},{36,34}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,86},{36,82}}</string>
                <key>offset</key>
                <string>{-38,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,32},{36,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,110},{64,46}}</string>
                <key>offset</key>
                <string>{-11,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,15},{64,46}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{50,68}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,0},{50,68}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,92},{52,88}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,26},{52,88}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,90},{56,84}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,30},{56,84}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,90},{56,84}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,30},{56,84}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{56,82}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,32},{56,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{50,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,34},{50,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,84},{54,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,34},{54,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,2},{54,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,36},{54,78}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,166},{54,80}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,34},{54,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,84},{52,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,34},{52,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,84},{50,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,34},{50,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,94},{38,90}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,24},{38,90}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,162},{44,72}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,42},{44,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{46,72}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,42},{46,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,76},{50,68}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,46},{50,68}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{52,90}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,24},{52,90}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,176},{58,74}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,40},{58,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,84},{56,80}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,34},{56,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,176},{52,74}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,37},{52,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,104}}</string>
                <key>offset</key>
                <string>{45,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,33},{172,104}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{122,92}}</string>
                <key>offset</key>
                <string>{18,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,48},{122,92}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{100,106}}</string>
                <key>offset</key>
                <string>{30,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,36},{100,106}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,166},{58,78}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,37},{58,78}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{56,82}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,33},{56,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,100},{74,56}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,49},{74,56}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{94,24}}</string>
                <key>offset</key>
                <string>{-42,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,94},{94,24}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{96,22}}</string>
                <key>offset</key>
                <string>{-42,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,96},{96,22}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,146},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>hero_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,164},{48,78}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,37},{48,78}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,170},{38,82}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,33},{38,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,166},{52,80}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,34},{52,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,84},{48,80}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,35},{48,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,82},{46,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,37},{46,78}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{42,82}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,33},{42,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{60,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,34},{60,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,166},{50,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,35},{50,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,176},{52,72}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,35},{52,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,84},{56,78}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,31},{56,78}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{90,70}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,32},{90,70}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{88,68}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,32},{88,68}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,76},{48,68}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,40},{48,68}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,176},{58,74}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,41},{58,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{52,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,35},{52,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{42,82}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,33},{42,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,126},{48,82}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,33},{48,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,166},{48,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,35},{48,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,2},{42,80}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,35},{42,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,86},{38,82}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,33},{38,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,170},{44,82}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,33},{44,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,35},{50,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hero.png</string>
            <key>size</key>
            <string>{1298,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:104b3d1ee6123702f568137e6d222a03:5c104d42bdddbd2b67476413cac1002f:39db81978b5d821c653ed2e674af469f$</string>
            <key>textureFileName</key>
            <string>Hero.png</string>
        </dict>
    </dict>
</plist>
