<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_attack_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,2},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,2},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,154},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,154},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,154},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,154},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,154},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,154},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,306},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,306},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,306},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,306},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,306},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,306},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,458},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,458},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,458},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,458},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,458},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,458},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,610},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,610},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,610},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,610},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,610},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,610},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,762},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,762},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,762},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,762},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,762},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,762},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,762},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>hero_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,914},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,914},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,914},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,914},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,914},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,914},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1066},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1066},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1066},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1066},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1066},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1066},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1218},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1218},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1218},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1218},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1218},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1218},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1370},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>t.psd</key>
            <dict>
                <key>frame</key>
                <string>{{284,1370},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hero.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40ef48bfe85a62b7f09e07d8b3119a78$</string>
            <key>textureFileName</key>
            <string>Hero.png</string>
        </dict>
    </dict>
</plist>
