<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_a_normal@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{122,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{122,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>button_a_normal@2x~ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,450},{242,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{242,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>button_a_selected@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{122,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{122,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>button_a_selected@2x~ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,450},{242,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{242,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>button_b_normal@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{122,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>button_b_normal@2x~ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,450},{242,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{242,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>button_b_selected@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{122,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>button_b_selected@2x~ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,450},{242,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{242,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dpad_center@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{222,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dpad_center@2x~ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1584},{444,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{444,444}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dpad_down@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,226},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{222,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dpad_down@2x~ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1584},{444,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{444,444}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dpad_downleft@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,226},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{222,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dpad_downleft@2x~ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1584},{444,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{444,444}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dpad_downright@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,226},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{222,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dpad_downright@2x~ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1138},{444,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{444,444}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dpad_left@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,124},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{222,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dpad_left@2x~ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1138},{444,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{444,444}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dpad_right@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{222,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dpad_right@2x~ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{444,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{444,444}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dpad_up@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{222,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dpad_up@2x~ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,692},{444,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{444,444}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dpad_upleft@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{222,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dpad_upleft@2x~ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,692},{444,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{444,444}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>dpad_upright@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{222,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dpad_upright@2x~ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{444,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{444,444}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Joypad.png</string>
            <key>size</key>
            <string>{1340,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bea868abe99aa92f43fb69675b117cd2:7acb4dd050d9a58e2b4f651cc5cea0b7:523be55a56644f77ca73b16f986f0d58$</string>
            <key>textureFileName</key>
            <string>Joypad.png</string>
        </dict>
    </dict>
</plist>
