<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>robot_base_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,2},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_getup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,2},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_getup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,2},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_getup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_getup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,154},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_getup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,154},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_getup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,154},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,154},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,154},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,154},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,306},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,306},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,306},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,306},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_knockout_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,154},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_knockout_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,306},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_knockout_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,306},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_knockout_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_knockout_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,458},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_walk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,458},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,458},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,458},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,458},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,458},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_base_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,610},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,610},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,610},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,610},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,610},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_getup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,610},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_getup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_getup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,610},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_getup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,762},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_getup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,762},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_getup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,762},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,762},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,762},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,762},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,610},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,762},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,914},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,762},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_knockout_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,762},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_knockout_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,914},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_knockout_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,914},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_knockout_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,914},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_knockout_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,914},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_walk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,914},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,914},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_belt_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_attack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1066},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1066},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1066},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1066},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1066},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_getup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1066},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_getup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1066},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_getup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_getup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1218},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_getup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1218},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_getup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1218},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1218},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1218},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1218},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1066},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1370},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1370},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1370},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1370},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_knockout_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1218},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_knockout_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1370},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_knockout_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1370},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_knockout_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1370},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_knockout_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,1066},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_walk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1522},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1522},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1522},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1522},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>robot_smoke_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1522},{280,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,150}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Robot.png</string>
            <key>size</key>
            <string>{1976,1674}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c2d7f47f722e2d4c61c6c8ee9fa3fcb:f0e6b07d1ee80e3c18270ac6f90ae349:e3107691289eadb3c41948365b16d3d1$</string>
            <key>textureFileName</key>
            <string>Robot.png</string>
        </dict>
    </dict>
</plist>
