<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1292,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{1292,502}}</string>
                <key>sourceSize</key>
                <string>{1296,506}</string>
            </dict>
            <key>hero_attack_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,134},{48,82}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,32},{48,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,104},{78,80}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,34},{78,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,2},{72,82}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,32},{72,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,212},{48,84}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,30},{48,84}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,280},{88,80}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,34},{88,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,362},{86,80}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,34},{86,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,74},{62,82}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,32},{62,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,104},{68,82}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,32},{68,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,202},{108,76}}</string>
                <key>offset</key>
                <string>{29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,38},{108,76}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,2},{102,76}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,38},{102,76}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_attack_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,448},{56,80}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,34},{56,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,468},{36,38}}</string>
                <key>offset</key>
                <string>{-42,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,76},{36,38}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,388},{36,34}}</string>
                <key>offset</key>
                <string>{-42,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,80},{36,34}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,174},{36,82}}</string>
                <key>offset</key>
                <string>{-38,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,32},{36,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,322},{64,46}}</string>
                <key>offset</key>
                <string>{-11,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,15},{64,46}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,424},{50,68}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,0},{50,68}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_getup_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,74},{52,88}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,26},{52,88}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,362},{56,84}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,30},{56,84}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,72},{56,84}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,30},{56,84}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,76},{56,82}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,32},{56,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,454},{50,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,34},{50,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,158},{54,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,34},{54,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,186},{54,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,36},{54,78}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,164},{54,80}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,34},{54,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,302},{52,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,34},{52,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,454},{50,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,34},{50,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,356},{38,90}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,24},{38,90}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,376},{44,72}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,42},{44,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,394},{46,72}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,42},{46,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,422},{50,68}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,46},{50,68}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,108},{52,90}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,24},{52,90}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jump_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,372},{58,74}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,40},{58,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,280},{56,80}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,34},{56,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,200},{52,74}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,37},{52,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,2},{172,104}}</string>
                <key>offset</key>
                <string>{45,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,33},{172,104}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,108},{122,92}}</string>
                <key>offset</key>
                <string>{18,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,48},{122,92}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_jumpattack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,2},{100,106}}</string>
                <key>offset</key>
                <string>{30,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,36},{100,106}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,158},{58,78}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,37},{58,78}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,76},{56,82}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,33},{56,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,246},{74,56}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,49},{74,56}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,276},{94,24}}</string>
                <key>offset</key>
                <string>{-42,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,94},{94,24}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_knockout_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,80},{96,22}}</string>
                <key>offset</key>
                <string>{-42,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,96},{96,22}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,302},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>hero_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,242},{48,78}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,37},{48,78}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,262},{38,82}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,33},{38,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,270},{52,80}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,34},{52,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,352},{48,80}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,35},{48,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,314},{46,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,37},{46,78}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,274},{42,82}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,33},{42,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,444},{60,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,34},{60,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,372},{50,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,35},{50,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,322},{52,72}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,35},{52,72}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,292},{56,78}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,31},{56,78}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,2},{90,70}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,32},{90,70}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,2},{88,68}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,32},{88,68}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,434},{48,68}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,40},{48,68}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_runattack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,238},{58,74}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,41},{58,74}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,240},{52,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,35},{52,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,230},{42,82}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,33},{42,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,104},{48,82}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,33},{48,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,356},{48,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,35},{48,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,358},{42,80}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,35},{42,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,318},{38,82}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,33},{38,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,184},{44,82}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,33},{44,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>hero_walk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,188},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,35},{50,80}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hero.png</string>
            <key>size</key>
            <string>{1948,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dd254a48fa0be13e963ba7fc5864bd6:74bed93595a03d123065e9d01f316f32:39db81978b5d821c653ed2e674af469f$</string>
            <key>textureFileName</key>
            <string>Hero.png</string>
        </dict>
    </dict>
</plist>
